nav {
    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: $brown-light;

        &:hover {
            border-bottom: 2px solid $mustard;
        }
    }
}