.page-title {
    h1 {
        color: $brown-light;
        letter-spacing: 5px;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        font-size: 5rem;
        position: fixed;
        margin: 0;
        left: -25px;
        z-index: -2;
        display: table;
        height: auto;
        top: 255px;
    }

    .line {
        position: fixed;
        left: 15px;
        height: 125px;    
    }
}