h1 {
    color: $brown-light;
    letter-spacing: 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 500%;
    position: relative;
    margin: 0;
    left: -25px;
    z-index: -2;

    //temp
    margin-top: 80px;
}