.socials {
    position: relative;

    .icons {
        position: fixed;
        bottom: 203px;
        text-align: center;
    }

    .line {
        position: fixed;
        height: 195px;
        right: 34px;
        bottom: 0px;
        background: $brown-light;
    }

    svg {
        text-align: center;
        height: auto;
        width: auto;
        padding-top: 5px;
        width: 30px;
        margin: 0px 5px 0px 5px;

        &:not(:hover) path{
            fill: $brown-light;
        }
    }
}