body {
    background-image: url('../../assets/images/topo-bg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    background-color: $forest;

    font-family: dubai, sans-serif;
    font-size: 16px;

    overflow-y: scroll;
}